/*header*/
.main-header {
    /*border: 1px solid #0f0;*/
    background-color: #3c8dbc;
    padding: 0;
    margin: 0 0 20px;
    overflow: hidden;
}

.main-header .logo {
    /*border: 1px solid #f00;*/
    min-height: 50px;
    width: 230px;
    margin: 0;
    line-height: 50px;
    color: #fff;
    text-align: center;
    font-size: 18px;
    background-color: #367fa9;
    text-decoration: none;
}

.main-header .navbar {
    /*border: 1px solid #f00;*/
}

.main-header .navbar .nav li > a {
    color: #fff;
    text-decoration: none;
    outline: none;
}

.main-header .navbar .nav li > a:hover {
    color: #222;
    text-decoration: none;
    outline: none;
}

.main-header .navbar-custom-menu ul.nav > li > a {
    color: #eee;
    background-color: transparent;
}

.main-header .toggle-bar > a {
    /*border: 1px solid #f00;*/
    position: absolute;
    color: #fff !important;
    /*font-size: 20px;*/
    font-weight: lighter;
    top: 0;
    left: 230px;
    padding: 15px 15px;
}

.main-header .toggle-bar > a:hover {
    background: #367fa9;
}

#toggle_menu {
    color: #fff;
}

.main-header .navbar-custom-menu ul.nav > li > a:hover {
    color: #fff;
    background: #367fa9;
}

.logo > img {
    /*border: 1px solid #fff;*/
    margin-top: -5px;
}

/*sidebar*/
.main-sidebar {
    /*border: 1px solid #f00;*/
    background-color: #f9fafc;
}

.main-sidebar .sidebar {
    /*border: 1px solid #0f0;*/
    padding-top: 15px;
}

.sidebar .user-panel {
    /*border: 1px solid #f0ad4e;*/
    overflow: hidden;
    padding: 10px 0 10px 20px;
    margin-bottom: 15px;
}

.user-panel .image {
    margin: 0 20px 0 0;
    /*border: 1px solid #f00;*/
    width: 60px;
    border-radius: 4px;
    padding: 0;
    max-height: 80px;
    overflow: hidden;
}

.user-panel > .image img {
    /*border: 1px solid #f00;*/
    width: 100%;
    /*max-width: 50px;*/

    height: auto;
    padding: 0;
    margin: 0;
    border-radius: 5px;

    /*border-radius: 50%;*/
}

.user-panel .info {
    /*border: 1px solid #f00;*/
    margin-top: 3px;
}

.user-panel .info .user-gw {
    font-size: 11px;
    font-weight: normal;
}

.user-panel:after {
    content: '.';
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
}

.user-panel .info:after {
    content: '.';
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
}

.user-panel > .info > a {
    text-decoration: none;
    padding-right: 5px;
    margin-top: 3px;
    font-size: 11px;
}

.user-panel > .info > p {
    font-weight: 600;
    margin-bottom: 3px;
}

.user-panel .position {
    /*border: 1px solid #00c;*/
    margin-top: 25px;
}

.user-panel .position .label {
    margin-right: 10px;
}

.sidebar-menu > li:last-child {
    border-bottom: 1px solid #ddd;
}

.sidebar-menu > li > a {
    /*border: 1px solid #f00;*/
    display: block;
    border-left: 3px solid transparent;
    font-weight: normal;
    font-size: 14px;
    text-decoration: none;
    color: #444;
    border-top: 1px solid #ddd;
    outline: none;
    padding: 12px 10px 12px 15px;
}

.sidebar-menu .treeview-menu {
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
    padding-left: 5px;
}

.sidebar-menu .treeview .glyphicon {
    font-size: 10px;
    font-weight: lighter;
    margin-top: 3px;
}

.treeview-menu > li > a {
    color: #777;
}

.sidebar-menu .treeview-menu > li > a {
    padding: 8px 5px 8px 15px;
    display: block;
    font-size: 14px;
}

.sidebar-menu .treeview-menu > li > a:hover {
    color: #222;
}

.sidebar-menu .treeview-menu > li > a > .fa, .sidebar-menu .treeview-menu > li > a > .glyphicon, .sidebar-menu .treeview-menu > li > a > .ion {
    width: 20px;
}

.sidebar-menu > li.active > a {
    color: #000;
    background: #f4f4f5;
    font-weight: 600;
}

.sidebar-menu > li.active > a > .fa-angle-left {
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.treeview.active .treeview-menu {
    background: #f4f4f5;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.nav .todo-num {
    position: absolute;
    top: 9px;
    left: 45px;
    text-align: center;
    font-size: 9px;
    padding: 2px 3px;
    line-height: .9;
}

.workflow {
    min-width: 80px;
    text-align: center
}

/*beign 导航样式*/
.city-box {
    padding: 8px 15px;
    margin-right: 20px;
}

.city-box select {
    padding: 6px 12px;
    height: 34px;
    border: 1px solid #ccc;
    border-radius: 0 4px 4px 0;
    border-left: none;
    outline: none;
}

.city-box .title {
    border-radius: 4px 0 0 4px;
    background-color: #eee;
    border: 1px solid #ccc;
    border-right: none;
    height: 34px;
    padding: 6px 12px;
}

.oms-menu-nav {
    margin-top: 0;
    margin-right: 0;
}

.oms-menu-nav > li {
    height: 50px;
}

.oms-menu-nav > li > a {
    height: 50px;
}

/*end 导航样式*/