@charset "utf-8";
/* 代码整理：懒人之�? www.lanrenzhijia.com */
* { margin: 0; padding: 0; list-style:none;}
body { font: 14px Arial, sans-serif; color: #333;}

input { font-family: Arial, sans-serif;}
#noCode { width: 270px; margin: 0 auto; padding: 30px 40px; background-color: #f7f7f7;z-index:9999}
#noCode ul { list-style-type: none;}
#noCode li { padding: 10px 0; overflow: hidden;}
#noCode .li3, .login .li5 { text-align: right; font-size: 12px;}
#noCode .li3 input { width: 13px; height: 13px; margin: 0 3px 0 10px; vertical-align: middle;}
#noCode .submit { display: inline-block; width: 13%; padding: 6px 30px; border: 0 none; color: #fff;
 background-color: #349AC0; cursor: pointer;margin-left: 20px;margin-top: 5px;}
#customer_telno, #agent_telno { width: 135px; padding: 5px; border: 1px solid #ccc;}
.forgot { color: #333;}

