.kctjbot {
    text-align: center;
    background: url(../images/sm_line.gif) repeat-x top center;
    margin: 10px 20px;
    padding: 15px 0;
}
.kctjcon{
	font-size:12px;
}
.kctjbot a{
    margin:0 10px;
}
.sm_step2 .kctjcon td {
    padding: 4px 0;
    line-height: 16px;
}
.tjtxt {
    height: 100px;
    padding:2px 5px;
    line-height: 20px;
    float: left;
    margin-right: 10px
}
.addfl-t {
    display: inline-block;
    background: url(../images/addfl.gif) no-repeat;
    height: 26px;
    line-height: 26px;
    padding-left: 23px;
    width: 56px;
    color: #676767;
}
#addfl-t{
    display: none;
}
.add-f{
    background: #c5c5c5;
    color: #fff;
    display: inline-block;
    margin-left: 10px;
    height: 18px;
    line-height: 18px;
    width: 34px;
    text-align: center;
    cursor: pointer
}
.del-f{
    background: #c5c5c5;
    color: #fff;
    display: inline-block;
    margin-left: 10px;
    height: 18px;
    line-height: 18px;
    width: 34px;
    text-align: center;
    cursor: pointer
}
.btn139{
    display: inline-block;
    width: 67px;
	height: 30px;
	border: none;
	background-position:0 -139px;
    line-height: 30px;
}
.btn593{
    display: inline-block;
    width: 86px;
	height: 30px;
	border: none;
	background-position:0 -593px;
    line-height: 30px;
}
.scwjcon {
    margin-top: 10px;
}
.scdewj {
    background-position: -84px -37px;
    height: 18px;
    line-height: 18px;
    padding-left: 20px;
    color: #215f8f;
    display: inline-block
}



.saerch-fr{margin-top:4px;}
.btn2{display:inline-block; width:73px; height:26px; margin-top:3px; margin-right:4px; line-height:26px; text-align:center; color:#fff; background: url(../images/btn.png) no-repeat;}
.saerch-it{width:244px; padding:2px 0 2px 5px; height:18px; line-height:18px; border:1px solid #CFCFCF; color:#999; vertical-align:top;}
.btn3{padding:0 10px; height:24px; line-height:24px; background: url(../images/btn_bg.png) repeat-x; border:1px solid #CFCFCF; border-left:none; color:#666; cursor:pointer;}

.forum-cont{}
.forum-cont-inner{border-top:1px solid #DEDEDE;}
.forum-cont-pane{border:1px solid #DEDEDE; border-top:none; background:#fff url(../images/bg3.png) repeat-y; position:relative;}
.forum-cont-left{width:86px; padding:9px 0 9px 11px; margin-right:16px;}
.forum-cont-left p.avatar-name{text-align:center; line-height:20px; margin:9px 0 1px;}
.forum-cont-left p.avatar-name a{color:#333; font-weight:bold;}
.forum-cont-left p.avatar-job{padding:0 3px; color:#636260; line-height:20px;}
.forum-avatar{padding:3px; border:1px solid #DEDEDE; background:#fff;}

.forum-cont-right{width:800px; padding:5px 0 50px;}
.forum-title{height:38px; line-height:38px; padding:0 9px 0 12px; background:#3487C9;}
.forum-title b{font-size:14px; color:#fff;}
.forum-title span.fr{color:#AFCFE8;}
.forum-operate{width:787px; border-top:1px dashed #ccc; padding-right:13px; height:32px; line-height:32px; padding-top:4px; position:absolute; bottom:0; right:4px;}
.forum-operate a{color:#8C8C8C; margin-left:19px;}
.forum-time{border-bottom:1px dashed #ccc; padding-left:5px; height:32px; line-height:32px; color:#8C8C8C; }

.forum-main{padding:25px 20px 20px;line-height:21px;}
.forum-cont-inner2{margin-top:16px;}


.kctjbot{text-align:center;border-top:1px dashed #bebebe;margin:10px 20px;padding:15px 0;}
.kctjbot input{height:29px;line-height:29px;border:0;margin:0 13px;cursor:pointer;vertical-align:middle}
.bluebtn{background-position:0 -80px;color:#fff}
.btn67{background-position:0 -23px;color:#666;width:67px;text-align:center;height:29px;line-height:29px;border:0;vertical-align:middle;cursor:pointer;}
 .btn139{
    display: inline-block;
    width: 67px;
	height: 30px;
	border: none;
	background-position:0 -139px;
    line-height: 30px;
}
.btn593{
    display: inline-block;
    width: 86px;
	height: 30px;
	border: none;
	background-position:0 -593px;
    line-height: 30px;
}


/*zy-kc-tianjia*/
.tjtip{padding:12px 0 0 50px;height:22px;line-height:22px;color:#ed6d00}
.kctjcon td{color:#676767;padding:9px;line-height:26px;}
.kctjcon .table-bg td{border:1px solid #676767;}
.kctjcon .table-margin td{text-align:left;}
.kctjcon .jsk{width:195px;background-position:185px center}
.kctjcon .condt{width:200px}
.width190{width:190px}



.width120,.width135,.width150,.width160,.width40,.width190,.width105,.width395,.width80,.width320,.width100,.width100_left{width:120px;padding:0 5px;color:#676767;height:24px;line-height:24px;border:1px solid #dedede;vertical-align:middle}
.width150{width:150px;padding:0 5px;border:1px solid #dedede;color:#676767;height:24px;line-height:24px;vertical-align:middle}
.width135{width:135px}
.width160{width:160px}
.width40{width:38px;text-align:center;height:20px;line-height:20px}
.width105{width:105px}
.width395{width:395px}
.width80{width:80px}
.width320{width:320px}
.width100{width:100px;border:0;border-bottom:1px solid #dedede;text-align:center;}
.width100_left{width:100px;border:0;border-bottom:1px solid #dedede;text-align:left;}

input, textarea, select {
    -moz-outline: none;
    outline: none;
    color: #676767;
    border: 1px solid #dedede;
}

.c-red {
    color: #f00;
}

.pagenum{text-align:right;padding:15px 10px 0 0;height:20px;line-height:20px;color:#417eb7}
.width30{width:30px;border:1px solid #7b99af;text-align:center;height:18px;line-height:18px;background: url(../images/txtbg.gif) repeat-x;vertical-align:middle}
.tiaoz{background: url(../images/tiaoz.jpg) no-repeat;width:38px;height:20px;border:0;cursor:pointer;vertical-align:middle}
.pagenum a{color:#417eb7;margin:0 6px}
.c-cyan{color:#4c9da0;font-style:normal}
.c-yel{color:#ed6d00;font-style:normal}





 