body {
    background: url(../images/bg.jpg?t=1) #f8f6e9;
}

.signin {
    width: 477px;
    height: 470px;
    /*background:url(../images/login_bg.png) no-repeat;*/
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -230px;
    margin-left: -238px;
    text-align: center;
}

.signin .copy{
    margin-top: 40px;
    font-size: 15px;
    color:#fff;
}

.signin-form-div{
    width: 477px;
    height: 270px;
    background-color: #fff;
    text-align: center;
    border-radius: 10px;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#DFE0DD', endColorstr='#ffffff',GradientType=0 );
    background:-moz-linear-gradient(top,#DFE0DD,#fafafa);/*火狐*/
    background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#DFE0DD), to(#fafafa));/*谷歌*/
    background-image: -webkit-gradient(linear,left bottom,left top,color-start(0, #DFE0DD),color-stop(1, #fafafa));/* Safari & Chrome*/
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#DFE0DD', endColorstr='#fafafa'); /*IE6 & IE7*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#DFE0DD', endColorstr='#fafafa')"; /* IE8 */
}

.form-signin {
    max-width: 330px;
    padding: 40px 15px 15px 15px;
    margin: 30px auto;
    text-align: center;
}

.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control {
    position: relative;
    /*font-size: 12px;*/
    height: auto;
    padding: 7px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin .form-control:focus {
    z-index: 2;
}

/*.form-signin input[type="text"] {*/
/*margin-bottom: 14px;*/
/*border-radius: 0;*/
/*background: url(../images/login_user.png) 0 0 #bdbdbd no-repeat;*/
/*padding-left:60px;*/
/*color:#FFFFFF;*/
/*}*/
/*.form-signin input[type="password"] {*/
/*margin-bottom: 10px;*/
/*border-radius: 0;*/
/*background: url(../images/login_pas.png) 0 0 #bdbdbd no-repeat;*/
/*padding-left:60px;*/
/*color:#FFFFFF;*/
/*}*/
.form-signin button {
    border-radius: 0;
}

.signin .input-group {
    margin-top: 10px;
}

.signin button {
    margin-top: 20px;
    width: 36%;
    padding:5px;
    font-size:14px;
    display:inline-block;
}

.signin .form-control {
    border: 1px solid #367fa9;
}

.signin .input-group-addon {
    color: #fff;
    border: 1px solid #367fa9;
    background-color: #3c8dbc;
}

.signin .btn-primary {
    background-color: #3c8dbc;
}

.signin .btn-primary:hover {
    background-color: #367fa9;
}

/*加入验证码*/
.verifyImg{
}

.postcode{
    padding: 0px;
}