/* css reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{padding:0;margin:0;}
body,button,input,select,textarea{font:12px/1.5 tahoma,arial,\5b8b\4f53,sans-serif;}
table{border-collapse:collapse;border-spacing:0;font-size: inherit;font:100%;}
caption,th{text-align:left;}
fieldset,img{border:none;vertical-align:top;}
ul,ol{list-style:none;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
ins{text-decoration:none;}
del{text-decoration:line-through;}
sup,sub{font-size:100%;vertical-align:baseline;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,
q:before,q:after {content: '';content: none;}
input,button,textarea,select{font-family: inherit;font-size: inherit;font-weight: inherit;vertical-align:middle;*font-size:100%;}
address,caption,cite,code,dfn,em,i,b,strong,th,var,optgroup{font-style:normal;font-weight:normal;}
small{font-size:100%;}
/*common style--------------------------------------------------------------------------*/
hr{color:#D1D7DC;background-color:#D1D7DC;border:none;height:1px;}
.left{float:left;}
.right{float:right;}
.clearfix:after{content:'\0020';display:block;height:0;clear:both;visibility:hidden;}
.clearfix{zoom:1;}
/*website link--------------------------------------------------------------------------*/
a{text-decoration:none;color:#444444}
a:hover{text-decoration:underline;}

.table1 {}
.table1 th{height:30px;line-height:30px;}
.table1 td{height:30px;line-height:30px;text-align:left}
.table1 td input{border:solid 1px #ccc;height:22px;line-height:22px;}
.table1 td select{border:solid 1px #ccc;width:140px;}
.table1 td textarea{border:solid 1px #ccc;}
.table1 td .btn{width:50px;height:25px;cursor:pointer}

.table2 {}
.table2 th{border:solid 1px #ccc;height:30px;line-height:30px;}
.table2 td{border:solid 1px #ccc;height:30px;line-height:30px;text-align:left;padding-left:10px;}
.table2 td input{border:solid 1px #ccc;height:22px;line-height:22px;padding-left:2px;}
.table2 td select{border:solid 1px #ccc}
.table2 td textarea{border:solid 1px #ccc;}
.table2 td .btn{width:50px;height:25px;cursor:pointer}

.table3 {width:100%}
.table3 th{border:solid 0px #ccc;height:30px;line-height:30px;}
.table3 td{border:solid 0px #ccc;height:30px;width:100%;line-height:30px;text-align:left;padding-left:10px;}
.table3 td input{border:solid 1px #ccc;height:22px;line-height:22px;padding-left:2px;}
.table3 td select{border:solid 1px #ccc}
.table3 td textarea{border:solid 1px #ccc;}
.table3 td .btn{width:50px;height:25px;cursor:pointer}

.fred{color:red;}
.zhankai{float:right;margin-right:10px;color:red;cursor:pointer;}
.zhankai2{cursor:pointer;}
.zhankai3{cursor:pointer;}
.table1 .block{background-color:#E2E2E2;display:block;text-align:center;height:33px;width:70px;letter-spacing:5px;border:solid 1px #333}
.cor-9d{background-color:#FFBB9D;cursor:pointer;}
.cor-ff{background-color:#FFFFFF;cursor:pointer;}
.from_in1{color:red;}
.from_in2{color:blue;}

.fdj{ background:url(../images/fdj.gif) no-repeat right; border:1px solid #8aa6be;}
.seac {
width: 400px;
max-height: 200px;
border: 1px solid #F96;
background-color: white;
z-index: 100;
overflow-y: scroll;
overflow-x: hidden;
}
.searli {
width: 100%;
height: 20px;
border: 1px #F0F0F0 dotted;
cursor: pointer;
overflow: hidden;
padding-left: 5px;
padding-top: 3px;
}

.txt{border:solid 1px #ccc;height:22px;line-height:22px;}
.channel{border:solid 1px #ccc;padding:3px 10px 4px 10px;margin-left:5px;background-color:#eee;cursor:pointer;}

.upcoin{background:url(../images/coin.jpg) no-repeat -130px -9px;width:19px;height:19px;display:inline-block}   

.downcoin{background:url(../images/coin.jpg) no-repeat -93px -11px;width:19px;height:19px;display:inline-block}  