/*left*/
.nav{border-right:4px solid #D8D8D8;background:#fff; border-bottom:1px solid #D8D8D8}
.nav-title{
	height:40px;
	background: -webkit-gradient(linear, left top, left bottom, from(#EAEAEB), to(#FFFFFF));
	background: -moz-linear-gradient(top,  #EAEAEB,  #FFFFFF);
	background: -o-linear-gradient(top, #EAEAEB, #FFFFFF);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#EAEAEB', endColorstr='#FFFFFF');
	cursor:pointer;
	font-weight:800;
	color:#303030;
	line-height:40px;
	font-size:14px;
	 overflow:hidden
}

.nav-title a{background:url(../images/nav-ico.gif) no-repeat}

.addItem a,.cornet a,.account a,.sms a,.blacklist a,.changePassword a,.addUser a,.addGroup a,.addCustom a,.phoneDetail a,.basis a,.linkRatio a{background:url(../images/nav-ico.gif) no-repeat;margin-left:10px}
.nav-title a{display:block;padding-left:27px; background-position:10px 15px;*background-position:10px 13px;}
.nav-title a:hover{ text-decoration:none}
.nav-list{overflow:hidden;}
.nav-list li{border-bottom:1px solid #EEEEEE;font-size:14px;height:33px;}
.nav-list li.on a{color:#4FB020;font-weight:800}
.nav-list li a{ display:block;margin-left:20px;padding-left:25px;height:33px; line-height:33px; overflow:hidden}
.nav-list li a:hover{ text-decoration:none;color:#4FB020}

.addItem a{background-position:0 -48px}
.cornet a{background-position:0 -79px}
.account a{background-position:0 -110px}
.sms a{background-position:0 -148px}
.blacklist a{background-position:0 -185px}
.changePassword a{ background-position:0 -223px}
.addUser a{background-position:0 -258px}
.addGroup a{background-position:0 -292px}
.addCustom a{background-position:0 -327px}
.phoneDetail a{background-position:0 -362px}
.basis a{background-position:0 -397px}
.linkRatio a{background-position:0 -428px}