#RewriteEngine on
#    RewriteBase /
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteRule ^(.*)/(.*)$ /index.php?module=$1&act=$2 [QSA,PT,L]
php_flag magic_quotes_gpc Off
<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteCond $1 !^(index\.php|image|Images|js|css|map|api|tool|robots\.txt|crossdomain\.xml)
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    #RewriteRule ^(.*)$ index.php [L]
    RewriteRule ^(.*)$ /index.php/$1 [QSA,PT,L]
    ####Ìø×ª####
    #RewriteRule ^.*/loan/([0-9]+)_([0-9]+)_([0-9]+)_([0-9]+)_([0-9]+)_([0-9]+)_([0-9]+)_([a-z]+)/?([0-9]+)?$ /index.php/loan/index/?q=$1&y=$2&i=$3&c=$4&at=$5&g=$6&o=$7&order=$8&page=$9 [PT]
    ####Ìø×ª####
</IfModule>