.triangle_ll_kong {
  border-top: none;
  border-left: 5px solid transport ;
  border-right: 5px solid transport;
  border-bottom: 5px solid #dadada;
}
button {
  font-family: 'Microsoft Yahei';
  width: 100%;
  text-align: center;
  padding: 10px 0px;
  color: #fff;
  background: #4c6070;
  border: 0;
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -o-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  font-size: 18px;
}

.savecfg{
  margin-top: 15px;
  background: #41a0e0;
}

.clearfix {
  clear: both;
}
.clearfix:before,
.clearfix:after {
  content: '.';
  display: block;
  visibility: hidden;
  font-size: 0;
  width: 0;
  height: 0;
  line-height: 0;
}
.clearfix:after {
  content: "\0020";
  display: block;
  clear: both;
  height: 0;
  font-size: 0;
}
.wrap {
  margin: 0px 10px;
}
.wrap .infodl {
  margin: 20px 10px 14px 10px;
  border-bottom: 1px solid #efefef;
}
.wrap .add_border_b {
  border-bottom: 1px solid #d1d1d1;
}
.wrap .firstinfo_mt {
  margin-top: 35px;
}
.indexFir {
  height: 100%;
}
.wrapFir {
  background: url(../IMAGES/bg.png) no-repeat;
  width: 100%;
  background-size: 100% 100%;
}
.wrapFir .header .headertxt {
  color: #fff;
  font-size: 16px;
  text-align: center;
}
.wrapFir .header .header_ta {
  width: 100%;
  text-align: center;
}
.wrapFir .header .header_ta .taimg {
  width: 77px;
  height: 74px;
  margin-top: 35px;
  margin-bottom: 23px;
}
.wrapFir .buttongroup {
  margin-top: 74px;
}
.wrapFir .buttongroup .btnDiv {
  width: 80%;
  margin: 0 10%;
  margin-bottom: 50px;
  border: 1px solid #fff;
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -o-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}
.wrapFir .buttongroup .btnDiv .btn {
  font-size: 18px;
  width: 101px;
  background: url("../IMAGES/workflow.png") no-repeat 1px 9px;
  background-size: 20px auto;
  padding: 10px;
  color: #fff;
  text-align: right;
  margin: 0 auto;
}
.wrapFir .buttongroup .work .workflowbtn {
  background: url("../IMAGES/workflow.png") no-repeat 0px 9px;
  background-size: 20px auto;
}
.wrapFir .buttongroup .manage .managebtn {
  width: 109px;
  background: url("../IMAGES/manage.png") no-repeat 0px 9px;
  background-size: 20px auto;
}
.wrapFir .buttongroup .on {
  border: 1px solid #d0d8dd;
  background: #d0d8dd;
}
.wrapFir .buttongroup .on .btn {
  color: #4c6070;
}
.wrapFir .buttongroup .on .workflowbtn {
  background: url("../IMAGES/workflow_c.png") no-repeat 0px 9px;
  background-size: 20px auto;
}
.wrapFir .buttongroup .on .managebtn {
  width: 109px;
  background: url("../IMAGES/manage_c.png") no-repeat 0px 9px;
  background-size: 20px auto;
}
.wrapFir .loginDiv {
  width: 100%;
}
.wrapFir .loginDiv .inputtxt {
  display: block;
  border: 1px solid #fff;
  height: 30px;
  line-height: 30px;
  width: 100%;
  -webkit-border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -o-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  text-align: center;
  color: #e0faff;
  width: 80%;
  margin: 5% auto;
}
.wrapFir .loginbtnDiv {
  width: 80%;
  margin: 10% auto;
}
.wrapFir .loginbtnDiv .loginBtn {
  background: #3a5a78;
  color: #fff;
  padding: 8px;
  -webkit-border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -o-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
}
.returnIndex {
  height: 44px;
  line-height: 44px;
  position: relative;
  background: #186287;
  width: 100%;
}
.returnIndex .txt {
  font-size: 16px;
  color: #fff;
  text-align: center;
}
.returnIndex .returnBtn {
  position: absolute;
  background: url("../IMAGES/returnbtn.png") no-repeat;
  background-size: 21px auto;
  left: 15px;
  top: 15px;
  display: block;
  width: 21px;
  height: 15px;
}
.nav {
  width: 100%;
  height: 27px;
}
.nav .nav_cont {
  margin: 10px 0px 12px;
  height: 25px;
  line-height: 25px;
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -o-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  background: #4c6070;
  border: 1px solid #4c6070;
}
.nav .nav_cont .tab {
  display: block;
  height: 25px;
  width: 20%;
  color: #fff;
  font-size: 13px;
  text-align: center;
  float: left;
  text-decoration: none;
  background: url(../IMAGES/nav_b.png) no-repeat top right;
}
.nav .nav_cont .tabfirst {
  -webkit-border-radius: 5px 0px 0px 5px;
  -moz-border-radius: 5px 0px 0px 5px;
  -o-border-radius: 5px 0px 0px 5px;IMAGES
  border-radius: 5px 0px 0px 5px;
}
.nav .nav_cont .tablast {
  -webkit-border-radius: 0px 5px 5px 0px;
  -moz-border-radius: 0px 5px 5px 0px;
  -o-border-radius: 0px 5px 5px 0px;
  border-radius: 0px 5px 5px 0px;
}
.nav .nav_cont .on {
  background: #f2f2f2;
  color: #4c6070;
}
.vail_cont_div {
  width: 100%;
}
.vail_cont_div .code_cont,
.vail_cont_div .name_cont,
.vail_cont_div .arrival_timer_cont,
.vail_cont_div .contact_way_cont,
.vail_cont_div .arrival_timer_cont,
.vail_cont_div .project_name_cont,
.vail_cont_div .listDiv {
  width: 100%;
  height: 22px;
  margin-right: 10px;
  margin-top: 25px;
  max-width: 500px;
  float: left;
  border-bottom: 1px solid #8a8a8a;
}
.listDivs{
  width: 100%;
  height: 22px;
  margin-right: 10px;
  margin-top: 25px;
  max-width: 500px;
  float: left;
}
.vail_cont_div .code_cont .label_txt,
.vail_cont_div .name_cont .label_txt,
.vail_cont_div .arrival_timer_cont .label_txt,
.vail_cont_div .contact_way_cont .label_txt,
.vail_cont_div .arrival_timer_cont .label_txt,
.vail_cont_div .project_name_cont .label_txt,
.vail_cont_div .listDiv .label_txt {
  font-size: 14px;
  float: left;
}
.vail_cont_div .listDiv_new {
  background: #fff;
  padding-top: 15px;
  margin-top: 5px;
  border-bottom: 0px;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 3px;
}
.vail_cont_div .listDiv_new .label_txt {
  font-size: 14px;
  color: #999;
}
.vail_cont_div .textareaDiv {
  height: auto;
}
.vail_cont_div .login {
  width: 80%;
  margin-top: 30px;
}
.vail_cont_div_wid {
  width: 96%;
  margin-top: 30px;
}
.inputDiv {
  float: right;
  position: relative;
}
.inputDiv .input_arri {
  font-size: 14px;
  text-align: right;
  position: absolute;
  right: 14px;
  color: #4c4c4c;
  /*font-size:14px;text-align: right;width:94%;padding-right:10px;*/
}
.inputDiv .shortinputwid {
  width: 90%;
  float: right;
}
.inputDiv .sanjiao {
  position: absolute;
  right: 0px;
  bottom: -19px;
  display: block;
  border: 3px solid #8a8a8a;
  border-color: transparent #8a8a8a #8a8a8a transparent;
  overflow: hidden;
  *width: 0;
  *height: 0;
}
.inputDiv .drapjiantou {
  position: absolute;
  right: 0px;
  bottom: -19px;
  display: block;
  background: url(../IMAGES/rightjt.png) no-repeat 0px 0px;
  background-size: 8px 14px;
  width: 8px;
  height: 14px;
}
.inputDiv .arrows {
  width: 8px;
  height: 14px;
  position: absolute;
  right: 0px;
  bottom: -19px;
  display: block;
  background: url("../IMAGES/rightjt.png") no-repeat;
  background-size: 8px auto;
}
.inputDiv_new {
  position: relative;
  width: 70%;
  float: right;
}
.inputDiv_new .input_arri {
  font-size: 14px;
  color: #666666;
}
.inputDiv_new .textarea_arr {
  border: 0px;
  background: none;
  width: 75%;
  text-align: right;
  float: right;
  margin-right: 10px;
  color: #666;
  font-family: 'Microsoft yahei';
}
.inputDiv_new .arrows {
  bottom: -17;
}
.inputDiv_new .arrowspo {
  width: 8px;
  height: 14px;
  position: absolute;
  right: 0px;
  bottom: 16px;
  display: block;
  background: url("../IMAGES/rightjt.png") no-repeat;
  background-size: 8px auto;
}
.shortinputwid {
  width: 60%;
}
.posSysterm {
  background: #fff;
  margin-top: 10px;
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -o-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  padding: 0 10px 28px;
}
.posSysterm .inputDiv .sanjiao {
  bottom: 4px;
}
.posSysterm .drapjiantou {
  bottom: 4px;
}
.posSysterm .shortinputwid {
  height: 24px;
}
.posSysterm .listDiv {
  margin-top: 20px;
  border-bottom-color: #f2f2f2;
}
.remove_mt {
  margin-top: 0px;
}
.remove_posi_l {
  margin-top: 0px;
}
.remove_posi_l .inputDiv .input_arri {
  right: 0px;
}
.confirmDiv {
  margin: 20px 0px 90px;
  text-align: center;
}
a.getAccessionCode {
  background: #41a0e0;
  padding: 3px 10px;
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -o-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  color: #fff;
  float: right;
}
.nosercherInfo {
  margin-top: 50px;
  text-align: center;
}
.nosercherInfo .info {
  color: #4c6070;
  font-size: 17px;
  text-align: center;
}
.nosercherInfo .info .tanhao {
  background: url("../IMAGES/tanhao.png") no-repeat 0px 1px;
  background-size: 15px auto;
  display: inline-block;
  height: 16px;
  width: 22px;
}
.infodl .headerdt {
  float: left;
  width: 47px;
  height: 62px;
  margin-right: 20px;
  background: #fef1e0;
  padding: 4px 7px 0px;
}
.infodl .headerdt .headimg {
  width: 47px;
  height: 62px;
}
.infodl .infodd {
  color: #4c6070;
  font-size: 13px;
  margin-bottom: 5px;
}
.android-holo.light .selectbutton {
  color: #4c4c4c;
  font-size: 18px;
}
.dw-sel .high_select {
  color: #007aff;
}
.dateTitleHidden {
  display: none;
}
.confirmDivbtn {
  margin: 0 auto;
  text-align: center;
  position: fixed;
  width: 90%;
  z-index: 200;
  bottom: 10px;
}
.popup_comfirm .popup_shadow {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #000;
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  opacity: 0.5;
}
.popup_content {
  width: 90%;
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -o-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  background: #f2f2f2;
  position: absolute;
  top: 100px;
  left: 5%;
}
.popup_content .title {
  width: 90%;
  font-size: 16px;
  text-align: center;
  margin: 27px auto 30px;
  line-height: 26px;
}
.popup_content .vail_cont_div {
  width: 96%;
  margin: 0px auto;
  margin-bottom: 20px;
}
.popup_content .vail_cont_div .inputDiv {
  width: 50%;
}
.popup_content .btngroup {
  height: 44px;
  line-height: 44px;
  background: url(../IMAGES/pop0_bg.png) repeat-x left top;
}
.popup_content .btngroup .btn {
  display: inline-block;
  width: 50%;
  text-align: center;
  height: 44px;
  font-size: 18px;
}
.popup_content .btngroup .first {
  background: url(../IMAGES/popbg.png) no-repeat right top;
}
.addNoCode .input_arri {
  right: 64px;
}
.addNoCode .noCodeBtn {
  width: 60px;
  background: #82accd;
  color: #fff;
  font-size: 12px;
  padding: 3px;
  position: absolute;
  right: 0px;
  top: -2px;
}
.fujian {
  height: 40px;
  line-height: 40px;
  background: #fff;
  margin: 0px 10px 2px;
  overflow: hidden;
  padding-left: 10px;
  padding-right: 8px;
}
.fujian .fujian_img {
  width: 20px;
  height: 20px;
  margin-right: 9px;
  margin-top: -34px;
}
.fujian .info {
  width: 88%;
  display: inline-block;
  color: #5c6066;
  height: 40px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
@media (min-height: 666px) {
  .fujian .info {
    width: 90%;
  }
}
.dataplay_cont .dataplaylist {
  margin-bottom: 3px;
}
.dataplay_cont .dataplaylist .title {
  height: 44px;
  background: #fff;
  line-height: 44px;
  padding: 0px 10px;
  color: #333333;
  font-size: 16px;
  position: relative;
}
.dataplay_cont .dataplaylist .sanjiao {
  position: absolute;
  border: 9px solid #d7d7d7;
  border-color: transparent #d7d7d7 #d7d7d7 transparent;
  overflow: hidden;
  *width: 0;
  *height: 0;
  top: 10px;
  right: 10px;
}
.dataplay_cont .dataplaylist .sanjiao_on {
  border: 9px solid #d7d7d7;
  border-color: #d7d7d7 #d7d7d7 transparent transparent;
  overflow: hidden;
  *width: 0;
  *height: 0;
}
.dataplay_cont .dataplaylist_two_bg {
  background: #fff;
}
.dataplay_cont .dataplaylist_two_level .title {
  margin-left: 20px;
}
.dataplay_cont .detail_info_cont {
  display: none;
}
.dataplay_cont .detail_info {
  background: #fff;
  margin-top: 3px;
  padding: 10px 30px 15px 35px;
  color: #b2b2b2;
  line-height: 24px;
}
.dataplay_cont .detail_info .fir_d {
  font-size: 14px;
  color: #333333;
  white-space: pre;
}
.dataplay_cont .detail_info .d_dt {
  float: left;
  width: 135px;
  white-space: pre;
  margin-right: 5px;
}
.dataplay_cont .detail_info .headerfl {
  width: 50%;
}
.dataplay_cont .detail_info .timer {
  width: 50%;
  text-align: right;
}
.dataplay_cont .detail_info .header_dt {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.dataplay_cont .detail_info .header_dt .header_dt_img {
  width: 100%;
  height: 100%;
}
.dataplay_cont .detail_info .header_dd {
  width: 60%;
}
.dataplay_cont .detail_info .fir_header_dd {
  font-size: 16px;
  color: #666666;
}
.dataplay_cont .detail_info_padding {
  padding: 10px;
}
.dataplay_cont .detail_info_color .d_dd {
  color: #666;
}
.dataplay_cont .detail_info_dt_wid {
  position: relative;
}
.dataplay_cont .detail_info_dt_wid .d_dt {
  width: 60px;
}
.dataplay_cont .detail_info_dt_wid .d_dt .d_dd {
  color: #b2b2b2;
}
.dataplay_cont .detail_info_dt_wid .tagDiv {
  position: absolute;
  left: 18px;
  top: 0px;
  height: 100%;
  z-index: 100;
}
.dataplay_cont .detail_info_dt_wid .tagDiv .shuxian {
  height: 100%;
  width: 1px;
  border-right: 1px solid #cccccc;
  display: block;
}
.dataplay_cont .detail_info_dt_wid .tagDiv .circleDiv {
  position: relative;
  width: 16px;
  height: 16px;
  -webkit-border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -o-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  border: 2px solid #cccccc;
  top: -56%;
  left: -8px;
  background: #fff;
  text-align: center;
  line-height: 16px;
  font-size: 14px;
  color: #cccccc;
}
.dataplay_cont .detail_info_checking .d_dd .state_color {
  color: #ff4e00;
}
.dataplay_cont .detail_info_checking .tagDiv .shuxian {
  border-right: 1px solid #ff4e00;
}
.dataplay_cont .detail_info_checking .tagDiv .circleDiv {
  color: #ff4e00;
  border-color: #ff4e00;
}
.dataplay_cont {
  margin-bottom: 60px;
}
.addnewGroupDiv2 {
  height: 48px;
  line-height: 48px;
  background: #fff;
  bottom: 0px;
  width: 100%;
}
.addnewGroupDiv2 .newbtn {
  width: 50%;
  background: #fff;
  float: left;
  color: #999999;
  font-size: 14px;
  -webkit-border-radius: 0px 0px 0px 0px;
  -moz-border-radius: 0px 0px 0px 0px;
  -o-border-radius: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
  height: 48px;
  line-height: 48px;
  padding: 0px;
  padding-left: 12%;
}
.addnewGroupDiv2 .btn01 {
  border-right: 1px solid #e6e6e6;
  background: url("../IMAGES/zhuan.png") no-repeat 30% center;
  background-size: 16px auto;
}
.addnewGroupDiv2 .btn02 {
  border-right: 1px solid #e6e6e6;
  background: url("../IMAGES/stop.png") no-repeat 30% center;
  background-size: 16px auto;
}
.addnewGroupDiv3 .newbtn {
  width: 33%;
}
.addnewGroupDiv3 .btn03 {
  border-right: 1px solid #e6e6e6;
  background: url("../IMAGES/stop.png") no-repeat 30% center;
  background-size: 16px auto;
}
.addnewGroupDiv4 .newbtn {
  width: 25%;
}
.addnewGroupDiv4 .btn04 {
  border-right: 1px solid #e6e6e6;
  background: url("../IMAGES/stop.png") no-repeat 30% center;
  background-size: 16px auto;
}
@media (min-height: 666px) {
  .dataplay_cont .detail_info .header_dd {
    width: 70%;
  }
}
.liucheng_cont {
  margin-top: 35px;
  margin-bottom: 0px;
}
.liucheng_cont .dataplaylist {
  padding: 0px;
  margin-top: 10px;
}
.liucheng_cont .title {
  border-bottom: 1px solid #ccc;
}
.liucheng_cont .title .timer {
  color: #cccccc;
  font-size: 12px;
}
.liucheng_cont .detail_info {
  padding-left: 45px;
  margin-top: 0px;
}
.liucheng_cont .detail_info_dt_wid .d_dt {
  width: auto;
  color: #666;
}
.liucheng_cont .detail_info_dt_wid .fir_d {
  color: #333;
}
.liucheng_cont .detail_info_dt_wid .widthauto {
  width: auto!important;
}
.topbtnGroup {
  height: 32px;
  top: 0px;
  left: 0px;
  border-bottom: 1px solid #cccccc;
}
.topbtnGroup .newbtn {
  line-height: 32px;
  height: 32px;
  text-align: left;
  padding-left: 14%;
}
.topbtnGroup .btn01,
.topbtnGroup .btn02 {
  background: url("../IMAGES/pulldown.png") no-repeat 65% center;
  background-size: 18px auto ;
}

.btncont {
  display: none;
  width: 50%;
  position: absolute;
  background: #e7f7ff;
  top: 33px;
  border: 1px solid #dcdfe1;
}
.btncont .li_btn {
  height: 30px;
  line-height: 30px;
  margin: 0px 5px;
  border-bottom: 1px solid #c3e4f6;
  font-size: 13px;
  color: #999999;
  text-align: left;
}
.btncont .li_btn .link {
  color: #999;
  display: inline-block;
  width: 76%;
  padding-left: 24%;
}
.btn01_cont {
  border-left: 0px;
  left: 0px;
}
.btn02_cont {
  border-right: 0px;
  right: 0px;
}