
.pay_cont{
  float:left;
  width:100%;
  max-width:500px;
  margin-top:12px;
}

.pay_cont_click{
  float:left;
  width:100%;
  max-width:500px;
  margin-top:12px;
}

.pay_cont .pay_title{
  height:5px;
  background: #4c6070;
  color:#fff;
  font-size: 16px;
  padding: 0px 10px;
}

.pay_cont .dataplaylist{
  margin-bottom: 5px;
}

.pay_cont .dataplaylist .smalltitle {
  height: 30px;
  background: #fff;
  line-height: 30px;
  padding: 0px 10px;
  color: #333333;
  font-size: 14px;
  position: relative;
  border: dashed 1px #4c6070;
}

.pay_cont .dataplaylist .sanjiao {
  position: absolute;
  border: 9px solid #d7d7d7;
  border-color: transparent #d7d7d7 #d7d7d7 transparent;
  overflow: hidden;
  *width: 0;
  *height: 0;
  top: 8px;
  right: 4px;
}

.pay_cont .dataplaylist .sanjiao_on {
  border: 9px solid #d7d7d7;
  border-color: #d7d7d7 #d7d7d7 transparent transparent;
  overflow: hidden;
  *width: 0;
  *height: 0;
}

.pay_cont .dataplaylist .detail_info_cont{
  margin-top: 3px;
  padding: 0px 30px 15px 30px;
  color: #b2b2b2;
  line-height: 24px;
  display: none;
}

.pay_cont .dataplaylist .payinput{
  width: 100%;
  height: 22px;
  margin-right: 10px;
  margin-top: 25px;
  max-width: 500px;
  border-bottom: 1px solid #8a8a8a;
}

a.payadd .paydel{
  margin-top: 10px;
  margin-right: 10px;
}