body{background:url(../images/login-main-bg.jpg) center 0}

/*login*/
.login{ background:url(../images/login-warp.png) no-repeat;width:1024px; height:800px; margin:0 auto; position:relative;}
.login-table{ width:300px; position:absolute; top:239px; left:408px;}
.login-table .login-input-text{ width:290px; height:27px; line-height:26px; color:#434343; font-size:20px; border:0px; overflow:hidden;}
.login-table td{ height:47px; vertical-align:top;}
.login-table td.yzm{ height:40px; vertical-align:top;}
.login-btn{background:url(../images/login-btn.jpg) no-repeat;width:138px;height:41px;border:none;overflow:hidden; margin:10px 0 0 40px;}
.login a.not-see{ color:#015ec7; text-decoration:underline; margin-left:6px; line-height:26px;*line-height:32px;}