/*header*/
#header{height:131px}
#header .top{height:92px;background-color:#2274AD; border-bottom:1px solid #4595CA; position:relative; z-index:99999}
.top-left{float:left;width:443px; background:url(../images/left-cov-bg.png?2014);height:92px}
.top-right{float:right;width:300px;height:92px;background:url(../images/right-cov-bg.png)}
.house365-logo{width:129px;height:38px; background:url(../images/365Logo.png); display:inline; overflow:hidden; text-indent:-999px;float:right;margin:35px 20px 0 0}
.select-city{width:70px;float:right;margin-top:40px;display:inline}
.select-val{ border:1px solid #6FABD2;color:#E3F3FC;width:65px;padding-left:5px;background:url(../images/select-r.gif)  #2A7DB4 right no-repeat;height:21px; cursor:pointer; line-height:21px; overflow:hidden;}
.select-list{ border:1px solid #6FABD2;background:#2A7DB4; position:absolute;width:550px;margin-top:-1px;padding:5px 5px 2px 5px; display:none}
.select-list a{line-height:20px;color:#E3F3FC;width:48px;text-align:center; display:inline;float:left}
.select-list a:hover{ text-decoration:none;background:#2F71A3}
.top-tool{height:36px;background:url(../images/top-tool-bg.gif) repeat-x; border-top:1px solid #28638F; position:relative;color:#DCDCDE; border-bottom:1px solid #fff}
.tools{ position:absolute;right:0px;top:9px;color:#FFF}
.tools a{color:#E7E7E7;padding-right:20px; background:url(../images/tools-ico.gif) no-repeat;padding-left:20px}
.tools a.refurbish{color:#BEE646; text-decoration:underline; background-position:0 -4px;}
.tools a.collect{background-position:0 -32px}
.tools a.loginout{background-position:0 -62px}
.user-info{position:absolute;left:20px;top:9px;}
.user-info span{margin-right:20px}